<div class="container-fluid h-custom sai">
      <div class="row d-flex justify-content-center align-items-center h-100  ">
        <form action="">
          <div class="aa">
            <div class="form-outline mb-4 ">
                <label class="form-label" for="form3Example3"><b>Idea:</b></label>
              <input type="idea" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter your idea " />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4"><b>Description:</b></label>
              <input type="description" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter description" />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4"><b>Contact Details:</b></label>
              <input type="contact" id="form3Example4" class="form-control form-control-lg"
                placeholder="enter your contact details" />
            </div>
            <button type="button">submit</button>

          </div>
        </form>
        
      </div>
    </div>
    